body {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: "IBM Plex Sans", Verdana, Geneva, Tahoma, sans-serif;
}

header .button {
  margin-right: .25em;
  /* border: 1px solid black;

  &:hover {
    border: 1px solid gray;
  } */
}

header small {
  font-weight: normal;
}

.button {
  &.white {
    color: black;
    background-color: #eee;
  }

  &.orange {
    color: black;
    background-color: orange;
  }

  &.green {
    color: white;
    background-color: green;
  }

  &.brown {
    color: white;
    background-color: brown;
  }

  &.red {
    color: white;
    background-color: red;
  }

  &.blue {
    color: white;
    background-color: blue;
  }
}

.card header {
  &.white {
    border-top: 5px solid #eee;
  }

  &.orange {
    /* color: black;
    background-color: orange; */
    border-top: 5px solid orange;
  }

  &.green {
    border-top: 5px solid green;
  }

  &.brown {
    border-top: 5px solid brown;
  }

  &.red {
    border-top: 5px solid red;
  }

  &.blue {
    border-top: 5px solid blue;
  }
}